
body{
    margin: 0 auto;
    width: 480px;
    text-align: center;
}

main{
    width: 100%;
    margin:0px auto;
    height: 100vh;
}



@media screen and (min-width:560px){
    body{
        width: 760px;
    }
   
}


@media screen and (min-width:760px) and (max-width:960px){
    body{
        width: 960px;
    }
    
}