@media screen and (min-width:480px) {
    
    
    .item{
         float: left;
         text-align: center;
         display: inline-block;
         border: 1px solid #000000;
     
     }
     .item-c
     {
         width: 480px;
         height: 125px;
         background-color: rgb(8, 247, 255);
         display: inline-block;
         
     }
     .item-d
     {
         width: 480px;
         height: 125px;
         background-color: rgb(25, 45, 46);
         display: inline-block;
     }
     .item-e
     {
         width: 240px;
         height: 250px;
         background-color: rgb(87, 117, 47);
         display: inline-block;
     }
     .item-f
     {
         width: 240px;
         height: 250px;
         background-color: rgb(32, 34, 180);
         display: inline-block;
     }
     .item-g
     {
         width: 240px;
         height: 250px;
         background-color: rgb(96, 245, 250);
         display: inline-block;
     }
     .item-h
     {
         width: 240px;
         height: 250px;
         background-color: rgb(211, 221, 67);
         display: inline-block;
     }
 
 }
@media screen and (min-width:768px) {


    .item{
        text-align: center;
        float: left;
        display: inline-block;
    
    }
    .item-c
    {
        width: 380px;
        height: 200px;
        align-items: center;
        background-color: rgb(182, 127, 113);
        display: inline-block;
        border: 1px solid #000000;
    
    }
    .item-d
    {
        width: 380px;
        height: 200px;
        align-items: center;
        background-color: rgb(138, 94, 139);
        display: inline-block;
        border: 1px solid #000000;
    
    }
    .item-e
    {
        width: 190px;
        height: 250px;
        align-items: center;
        background-color: rgb(55, 235, 151);
        display: inline-block;
        border: 1px solid #000000;
    
    }
    .item-f
    {
        width: 190px;
        height: 250px;
        align-items: center;
        background-color: firebrick;
        display: inline-block;
        border: 1px solid #000000;
    
    }
    .item-g
    {
        width: 190px;
        height: 250px;
        align-items: center;
        background-color: goldenrod;
        display: inline-block;
        border: 1px solid #000000;
    
    }
    .item-h
    {
        width: 190px;
        height: 250px;
        align-items: center;
        background-color: cadetblue;
        display: inline-block;
        border: 1px solid #000000;
    
    }
    }
 
    